<style>
                                            /* Resest */
        *{
            padding: 0;
            margin: 0;
        }
        ul {
            list-style: none;
            margin-right: 0%;
        }
        a{text-decoration: none; color: black}
                                            /* codigo pagina */
                                            /*código de la página en desktop*/
        header, nav, main, footer{width: 80%; margin: 0 auto;}
        header {
            min-height: 8rem;
            background-color: pink;
        }
        nav {
            min-height: 4rem;
            background-color: orange;    
        }
        main{
            min-height: 20rem;
            background-color: lightblue;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        main div{
            width: 30%;
            min-height: 5rem;
            background-color: lightgray;
            border: 0.02rem solid red;
        }
        main div a {
            font-size: 1.2rem;
            color: brown;
            font-weight: 600;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        footer{
            min-height: 7rem;
            background-color: chartreuse;
        }
        .borde{
            border: 0.3rem solid black ; 
        }
        .izquierda{
            background-color: hsla(180, 100%, 50%, 0.438);
        }
        .derecha{
            background-color: green;
        }
        ul{ 
            min-height: 4rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        ul li {
            width: 5rem;
            height: 2rem;
            background-color: burlywood;
            border: 0.1rem solid green;
            margin: 0.5rem;
        }
        ul li a{
            font-size: 1rem;
            text-align: center;
            display: block;
            text-align: center;
            padding-top: 0.5rem;
            border-radius: 0.4rem;
            background-color: rgb(160, 139, 160) ;
            color: green;
        }
        ul li a:hover{
            color: purple ;
            background-color: green;
            transition: 500ms;
        }                                           
                                            /*código de la página en tablet*/
        
                                            /*código de la página en slefphone*/
        @media screen and (max-width: 900px){
            main div{width: 45%;}
            body{ background: aqua;}
            nav ul {
                display: flex;
                flex-direction: column;
            }
        }
        @media screen and (max-width: 602px){
            body{ background: blue;}
        }
        
    </style>screen